<div class="text-center">
  <h1>New Order Item</h1>

  <%= render 'form', order_item: @order_item %>

  <br>

  <table class="mx-auto text-center">
    <thead>
      <tr>
        <% @store = Store.find(params[:store_id]) %>
        <th colspan="5">Current <%=@store.name%> Item List:</th>
      </tr>
    </thead>

    <tbody>
      <% @order_items = OrderItem.all %>
      <% store_items = @order_items.where(cart_id: params[:cart_id], store_id: params[:store_id]) %>
      <% store_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product.title %></td>
          <td><%= "$" + order_item.product.price.to_s %></td>
          <td><%= order_item.quantity %></td>
          <td><%= link_to 'Edit', edit_order_item_url(order_item.cart_id, order_item.store_id, order_item.id) %></td>
          <td><%= link_to 'Remove', order_item_url(order_item.cart_id, order_item.store_id, order_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Back to Cart', cart_url(params[:cart_id]) %>
</div>
