<div class="text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Order Item ID:</strong>
    <%= @order_item.id %> |

    <strong>Cart ID:</strong>
    <%= @order_item.cart_id %> |

    <strong>Store ID:</strong>
    <%= @order_item.store_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= @order_item.product.title %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @order_item.quantity %> |

    <strong>Price Per Unit: </strong>
    $<%= @order_item.product.price  %>
  </p>

  <p>
    <strong>Total Cost:</strong>
    $<%= @order_item.product.price * @order_item.quantity  %>
  </p>

  <%= link_to 'Edit', edit_order_item_path(@order_item) %> |
  <%= link_to 'Back', order_items_path %>
</div>
